<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   <!-- 按需更改 名字 -->
    <xacro:macro name="my_robot_ros2_control_planar">
        <ros2_control name="MyRobotSystem" type="system">
            <hardware>
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>

            <joint name="ahead_left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-30.0</param>
                    <param name="max">30.0</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="ahead_right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-30.0</param>
                    <param name="max">30.0</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="bhind_left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-30.0</param>
                    <param name="max">30.0</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

            <joint name="bhind_right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-30.0</param>
                    <param name="max">30.0</param>
                </command_interface>
                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>
        </ros2_control>

        <gazebo>
            <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
                <ros>
                    <remapping>diff_drive_controller/cmd_vel_unstamped:=cmd_vel</remapping>
                    <remapping>diff_drive_controller/odom:=odom</remapping>
                </ros>
                <parameters>$(find ros2_livox_simulation)/config/myrobot_ros2_controller.yaml</parameters>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
